.property-details {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 35%;
}

.property-details .title {
    font-size: 36px;
    font-weight: 700;
}

.property-details .price {
    font-size: 24px;
}

.property-details .btn-wrapper {
    display: flex;
    gap: 16px;
}
.property-details .description-wrapper {
    max-width: 400px;
    word-wrap:break-word;
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.property-details .btn-wrapper .btn {
    padding: 16px 24px;
    border: none;
    background: rgb(31, 156, 144);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.25s;
    border: 2px solid rgb(31, 156, 144);
}

.property-details .btn-wrapper .btn:hover {
    background: rgb(36, 186, 171);
}

.property-details .btn-wrapper .btn.outline {
    border: 2px solid rgb(31, 156, 144);
    color: rgb(31, 156, 144);
    background: transparent;
}

.property-details .btn-wrapper .btn.outline:hover {
    border: 1px solid rgb(36, 186, 171);
    color: #fff;
    background: rgb(36, 186, 171);
}